{% extends 'admin/master.html' %}

{% block body %}
  <div class="container mt-4">
    <h2>Change Password</h2>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <form method="POST" action="{{ url_for('admin.change_password') }}">
          {{ form.hidden_tag() }}
          <div class="form-group">
            {{ form.current_password.label(class="font-weight-bold") }}
            {{ form.current_password(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.new_password.label(class="font-weight-bold") }}
            {{ form.new_password(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.confirm.label(class="font-weight-bold") }}
            {{ form.confirm(class="form-control") }}
          </div>
          {{ form.submit(class="btn btn-primary") }}
        </form>
      </div>
    </div>
  </div>
{% endblock %}